$size14: 14px;
$size16: 16px;
$size18: 18px;
$size20: 20px;
$size22: 22px;
$size24: 24px;
$size28: 28px;
$size30: 30px;
$size36: 36px;
$size38: 38px;
$size48: 48px;
$size50: 50px;
$size70: 70px;
// base color
$blue: #324157;
$light-blue: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$fontColor: #1f757b;
$fontFamily: 'Trebuchet MS', Helvetica, sans-serif;
$textColor:#707070;
